/* Basic reset */
* {
  margin: 0;
  padding: 0;
}

/* Custom font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* Global styles */
html {
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Sections */
main {
  display: block;
  flex: 1; /* Make the main content take up all the remaining space. */
}

.list-contacts {
  /* Styles for a contact list */
  height: 63vh;
  overflow: auto;
  width: 118%;
  margin-left: -9%;
  border: solid #cfcfcf 1px;
  margin-bottom: 15px;
}

.list-contacts th {
  /* Sticky header for the contact list */
  position: sticky;
  top: 0;
  background-color: #cfcfcf;
}

/* Pagination styles */
.paginador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-paginador {
  margin: 0 5px;
}

.page-item.active .page-link {
  /* Styles for the active page in pagination */
  z-index: 3;
  color: #fff;
  background-color: #522db2;
  border-color: #522db2;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

.page-link {
  /* Styles for the pagination links */
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #522db2;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.single-line {
  /* Styles for single-line text */
  white-space: nowrap;
  font-size: 14px;
}

.single-line-btn {
  /* Styles for single-line button */
  z-index: -1;
}

/* Heading styles */
.h1,
.h2,
h1,
h2 {
  /* Common heading styles */
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500 !important;
  line-height: 1.2;
  font-size: 20px !important;
  color: #6c6c6c !important;
}

.h3,
.h4,
.h5,
.h6,
h3,
h4,
h5,
h6 {
  /* Additional heading styles */
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400 !important;
  line-height: 1.2;
  font-size: 12px !important;
  color: #522db2 !important;
}

/* Footer styles */
.footer {
  /* Styles for the footer */
  background-color: #522db2;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Social icon styles */
.social-icons {
  /* Styles for the social icons container */
  display: flex;
  justify-content: center;
  margin: 0 30px;
}

.social-icons a,
.social-icons span {
  /* Styles for the social icons */
  margin: 0 10px;
  font-size: 15px;
  padding: 2px 10px;
  color: white;
}

/* Progress bar styles */
#progressbar {
  /* Styles for the progress bar container */
  margin-bottom: 0;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  /* Styles for the progress bar steps */
  list-style-type: none;
  color: #515151;
  text-transform: uppercase;
  font-size: 12px;
  width: 30%;
  float: left;
  position: relative;
  margin-top: 10px;
}

#progressbar li:before {
  /* Styles for the step number in the progress bar */
  content: counter(step);
  counter-increment: step;
  line-height: 20px;
  font-size: 16px;
  color: #000;
  margin: 0 auto 5px auto;
  background-color: #cfcfcf;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 500;
}

#progressbar li:after {
  /* Styles for the progress bar line */
  content: "";
  width: 75%;
  height: 2px;
  background: #cfcfcf;
  position: absolute;
  left: -36%;
  top: 15px;
  z-index: 0;
}

#progressbar li:first-child:after {
  /* Hide the line before the first step */
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  /* Styles for the active step in the progress bar */
  background: #00f700;
  color: white;
}

/* Form field styles */
fieldset {
  /* Styles for form fieldsets */
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

fieldset:not(:first-of-type) {
  /* Hide all fieldsets except the first one */
  display: none;
}

.input,
textarea {
  /* Styles for form inputs and textareas */
  font-family: "Roboto", sans-serif;
  color: #2c3e50;
  font-size: 15px;
}

/* Padding styles */
.pt-4,
.py-4 {
  padding-top: 1rem !important;
}

/* Filter styles */
.filter {
  /* Styles for a filter input */
  border: solid #cfcfcf 1px;
  width: 400px !important;
  border-radius: 50px;
  height: 35px;
  margin: 10px 0 10px -200px;
  padding-left: 15px;
}

/* Form input focus styles */
[contenteditable].form-control:focus,
[type="email"].form-control:focus,
[type="password"].form-control:focus,
[type="tel"].form-control:focus,
[type="text"].form-control:focus,
input.form-control:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea.form-control:focus,
textarea:focus {
  box-shadow: inset 0 0px 0 #ff8900;
}

.form-control:focus {
  /* Styles for form input focus state */
  color: #666;
  background-color: transparent;
  border-color: #ff8900;
  outline: 0;
  box-shadow: inset 0 -1px 0 #ddd, inset 0 -2px 0 #ff8900;
}

/* Table heading styles */
th {
  font-size: 14px;
}

/* Table sortable icon styles */
th.sortable i {
  /* Styles for sortable table icons */
  margin-right: 5px;
}

/* Icon styles */
.icon {
  /* Styles for icons */
  position: absolute;
  right: 5px;
  top: 40%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #ffc47f;
  margin-right: 25px;
}

.icon.valid {
  /* Styles for valid icon */
  top: 50%;
  color: #00f700;
}

/* Validation message style */
.validation-message {
  /* Styles for validation error messages */
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Input container styles */
.input-container {
  /* Styles for a container that wraps an input element */
  position: relative;
}

/* Label styles */
.label-titles {
  /* Styles for label titles */
  color: #522db2;
  font-size: 14px;
  font-weight: 500;
}

/* Button styles */
.btn {
  /* Common button styles */
  display: inline-block;
  font-weight: 400;
  color: #444;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 8px;
  font-size: 13px;
  line-height: 0.5;
  margin: 0 3px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Action button styles */
.action-button,
.button-save,
#msformupdate .button-update {
  /* Styles for action buttons */
  width: 100px;
  background: #ff8900;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.action-button:hover,
.action-button:focus,
.button-save:hover,
.button-save:focus,
#msformupdate .button-update:hover,
#msformupdate .button-update:focus {
  /* Styles for action button on hover/focus */
  background-color: black;
}

/* Search button styles */
.button-search {
  /* Styles for search button */
  width: 37px;
  background: #ff8900;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50px;
}

.button-search:hover,
.button-search:focus {
  /* Styles for search button on hover/focus */
  background-color: black;
}
