.centered-cell {
  text-align: center;
}

/* Custom font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* Basic reset */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

fieldset {
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

fieldset:not(:first-of-type) {
  display: none;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  color: #2c3e50;
  font-size: 15px;
}

.action-button,
.button-save,
#msformupdate .button-update {
  width: 100px;
  background: #ff8900;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.action-button:hover,
.action-button:focus,
.button-save:hover,
.button-save:focus,
#msformupdate .button-update:hover,
#msformupdate .button-update:focus {
  background-color: black;
}

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #d7411d;
  margin-bottom: 20px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#progressbar {
  margin-bottom: 0;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: #515151;
  text-transform: uppercase;
  font-size: 12px;
  width: 33.33%;
  float: left;
  position: relative;
  margin-top: 10px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  line-height: 20px;
  font-size: 16px;
  color: #000;
  margin: 0 auto 5px auto;
  background-color: #cfcfcf;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 500;
}

#progressbar li:after {
  content: "";
  width: 75%;
  height: 2px;
  background: #cfcfcf;
  position: absolute;
  left: -36%;
  top: 15px;
  z-index: 0;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #00f700;
  color: white;
}

.list-contacts {
  height: 83vh;
  overflow: auto;
  width: 138%;
  margin-left: -19%;
}

.list-contacts table {
  width: 100%;
  border-collapse: collapse;
  border: solid #cfcfcf 1px;
}

.list-contacts th {
  position: sticky;
  top: 0;
  background-color: #cfcfcf;
}

.pt-4,
.py-4 {
  padding-top: 1rem !important;
}

.footer {
  background-color: #522db2;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 0 30px;
}

.social-icons a,
.social-icons span {
  margin: 0 10px;
  font-size: 15px;
  padding: 2px 10px;
  color: white;
}

.single-line {
  white-space: nowrap;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #444;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 8px;
  font-size: 13px;
  line-height: 0.5;
  margin: 0 3px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-container {
  position: relative;
}

.icon {
  position: absolute;
  right: 5px;
  top: 40%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #ffc47f;
  margin-right: 25px;
}

.icon.valid {
  top: 50%;
  color: #00f700;
}

.validation-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto";
  font-size: 20px;
  color: #6c6c6c;
}

p {
  margin: 16px 0 16px 0;
}

ul {
  text-align: center;
}

.label-titles {
  color: #522db2;
  font-size: 14px;
  font-weight: 500;
}
