{% extends "layout.html" %} {% block body %}

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <form action="/update/{{contact.id}}" method="POST">
        <div class="form-group">
          <input
            type="text"
            name="nombre"
            value="{{contact.nombre}}"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="telefono"
            value="{{contact.telefono}}"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="correo"
            value="{{contact.correo}}"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}