{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="list-contacts">
    <h3>Total de Registros: {{ total_records }}</h3>
    <h5>Mostrando registros del {{ start_range }} al {{ end_range }}</h5>

    <table class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th class="centered-cell"><i class="fa fa-gear"></i></th>
          <th><i class="fa-solid fa-database"></i></th>
          <th><i class="fas fa-user"></i></th>
          <th><i class=""></i>Edad</th>
          <!-- <th><i class="fa-solid fa-venus-mars"></i></th> -->
          <!-- <th><i class=""></i></th> -->
          <th><i class="fa fa-envelope"></i></th>
          <th><i class="fa fa-phone"></i></th>
          <!-- <th><i class="fa-solid fa-school"></i></th> -->
          <th><i class=""></i>Estrato</th>
          <!-- <th><i class=""></i>Hijos</th> -->
          <!-- <th><i class=""></i>Dependientes</th> -->
          <th><i class=""></i>Experiencia</th>
          <th><i class=""></i>Area</th>
          <th><i class=""></i>Ventas</th>
          <th><i class=""></i>Experiencia</th>
          <th><i class=""></i>Area</th>
          <th><i class=""></i>Color</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td class="centered-cell single-line">
            <a href="/edit/{{contact.id}}" class="btn btn-secondary btn-edit">
              <i class="fas fa-edit"></i>
            </a>
            <a href="/delete/{{contact.id}}" class="btn btn-secondary btn-delete">
              <i class="fas fa-trash"></i>
            </a>
          </td>
          <td class="single-line">{{contact.numero_documento}}</td>
          <td class="single-line">{{contact.nombre}}</td>
          <td class="single-line">{{contact.edad}}</td>
          <!-- <td class="single-line">{{contact.genero}}</td> -->
          <!-- <td class="single-line">{{contact.estado_civil}}</td> -->
          <td class="single-line">{{contact.correo}}</td>
          <td class="single-line">{{contact.telefono}}</td>
          <!-- <td class="single-line">{{contact.nivel_estudios}}</td> -->
          <td class="single-line">{{contact.estrato}}</td>
          <!-- <td class="single-line">{{contact.num_hijos}}</td> -->
          <!-- <td class="single-line">{{contact.personas_cargo}}</td> -->
          <td class="single-line">{{contact.experiencia}} Años</td>
          <td class="single-line">{{contact.area_experiencia}}</td>
          <td class="single-line">{{contact.tiempo_ventas}} Años</td>
          <td class="single-line">{{contact.experiencia_general}} Años</td>
          <td class="single-line">{{contact.otra_area_experiencia}}</td>
          <td class="single-line">{{contact.pda_color}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if current_page != 1 %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">First</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ current_page - 1 }}" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}

        {% set start_page = current_page - 2 if current_page - 2 > 0 else 1 %}
        {% set end_page = current_page + 2 if current_page + 2 < total_pages else total_pages %} {% for page_num in
          range(start_page, end_page + 1) %} <li class="page-item {% if page_num == current_page %}active{% endif %}">
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
          {% endfor %}

          {% if current_page != total_pages %}
          <li class="page-item">
            <a class="page-link" href="?page={{ current_page + 1 }}" aria-label="Next">
              <span aria-hidden="true">&rsaquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ total_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Last</span>
            </a>
          </li>
          {% endif %}
      </ul>
    </nav>


  </div>
</div>
{% endblock %}